@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

html {
    background-color: #2d3436;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
}

form input {
    display: block;
    margin: 5px 0;
}

.submit_button {
    background-color: rgba(0,0,0,0);
    border: 1px solid #fefefe;
    border-radius: 5em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    padding: 1em;
    margin: 1em 0;
}

.submit_button:hover {
    cursor: pointer;
    transform: translateY(4px);
    background-color: rgba(0, 0, 1, 1);
}

.submit_button:focus{
    outline: none;
}